@import "tailwindcss";
/* biome-ignore lint/suspicious/noUnknownAtRules: tyilwind plugin */
@plugin "@tailwindcss/typography";
/* biome-ignore lint/suspicious/noUnknownAtRules: daisyui plugin */
@plugin "daisyui";

main {
  max-width: inherit;
}

span.text::after {
  /* Render &nbsp; as a non-breaking space so that the span does not collapse */
  content: "\0000A0";
}

p {
  margin-top: 1em;
  margin-bottom: 0.75em;
}
