@import "tailwindcss";
/* biome-ignore lint/suspicious/noUnknownAtRules: tyilwind plugin */
@plugin "@tailwindcss/typography";
/* biome-ignore lint/suspicious/noUnknownAtRules: daisyui plugin */
@plugin "daisyui";

main {
  max-width: inherit;
}

span.text {
  min-height: 1.5rem;
  display: inline-block;
}
